# {{ .Plugin.Title }}

## Overview
{{ .Overview.Content }}
{{ if .Usage.Exists }}

## Usage
{{ .Usage.Content }}
{{ end }}

## Compatibility matrix
{{ .Matrix.Content }}

{{ if .Configuration_options }}## Configuration options
{{ end }}{{ if .Configuration_options }}
{{ .Configuration_options.Content}}

{{ end }}## Examples
{{ .GenExamples.Content }}
{{ .RawExamples.Content }}

## Changelog

{{ mvmdheader 2 .ChangeLog.Content }}
