{
  "api": {
    "definitionVersion": "V4",
    "type": "MCP_PROXY",
    "name": "{{ .Title }} example API",
    "flows": [
      {
        "name": "All plans flow",
        "enabled": true,
        "selectors": [
          {
            "type": "MCP",
             "methods" : []
          }
        ],
        "{{ .Properties.phase }}": [
          {
            "name": "{{ .Title }}",
            "enabled": true,
            "policy": "{{ .ID }}",
            "configuration":
              {{ indent 14 .Node }}
          }
        ]
      }
    ]
  }
}
