{{ range .Snippets -}}
{{ if .Title }}*{{ .Title }}*
{{ end -}}
{{ if .Description -}}{{ .Description }}
{{ end -}}
{{ if .Filename }}`{{ .Filename }}`
{{ end -}}
```{{ .Language }}
{{ .Code }}
```
{{ end }}