# Kafka Alter Topic Rules Policy

## Overview
{{ .AlterTopicOverview.Content }}
{{ if .Errors.Exists }}

## Errors
{{ .Errors.Content }}
{{end }}

## Phases
The `{{ .Plugin.ID }}` policy can be applied to the following API types and flow phases.
{{ .Phases.Content }}

{{ if .AlterTopicConfigurationOptions.Exists }}
## Configuration options
{{ .AlterTopicConfigurationOptions.Content}}
{{ end }}
