# Kafka Produce Rules Policy

## Overview
{{ .ProduceOverview.Content }}
{{ if .Errors.Exists }}

## Errors
{{ .Errors.Content }}
{{end }}

## Phases
The `{{ .Plugin.ID }}` policy can be applied to the following API types and flow phases.
{{ .Phases.Content }}

{{ if .ProduceConfigurationOptions.Exists }}
## Configuration options
{{ .ProduceConfigurationOptions.Content}}
{{ end }}
